<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SRP(Sistema Representacional Preferente)</a>
</nav>

<div class="container mt-3">

<h1>Cuestionario</h1>
<hr>
<p >Lea cuidadosamente cada oración y piense de qué manera se aplica a usted. <br>En cada línea pregunta la opción que mejor describe su reacción a cada oración.</p> <br>

   <strong>Casi siempre: 5     Frecuentemente: 4    A veces: 3   Rara vez: 2    Casi nunca: 1</strong>   


<!-- PREGUNTAS -->

<div>

  <form >
    <div *ngFor="let question of questions; let i = index">
      <p><strong>{{question}}</strong> </p>
      <label *ngFor="let option of options; let j= index">

        <input type="radio" [(ngModel)]="selections[i]" [value]="j+1" [name]="'question' + i" > {{option}} &nbsp;

      </label>
     
    </div>
    
  </form>

  <br>
  <hr>

  <button class="btn btn-primary btn-block" (click)="calculateSum()">Determinar tipo de SRP</button>
  <br>

</div>


</div>